* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
/* .label {
    position: relative;
} */
/* .label-form {
    height: 55px;
} */
.opacity {
    opacity: 0;
}
.toy-pannel-viisible {
    display: initial !important;
    z-index: 99;
}
.options-pannel-viisible {
    display: initial !important;
    z-index: 99;
}
.drop-zone {
    position: absolute;
    z-index: 25;
    bottom: 0;
    left: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 720px;
    overflow: hidden;
}
.drop-zone__wrappper {
    position: relative;
}
.drop-zone__box {
    width: 35px;
    height: 35px;
}
.drop-zone__top {
    position: absolute;
    top: 1%;
    left: 45%;
    border: 1px solid transparent;

    z-index: 25;
}
.drop-zone__top-one {
    position: absolute;
    top: 6%;
    left: 40%;
    border: 1px solid transparent;
}
.drop-zone__top-two {
    position: absolute;
    top: 6%;
    left: 47%;
    border: 1px solid transparent;
}
.drop-zone__top-three {
    position: absolute;
    top: 6%;
    left: 54%;
    border: 1px solid transparent;
}
.drop-zone__top-four {
    position: absolute;
    top: 10%;
    left: 37%;
    border: 1px solid transparent;
}
.drop-zone__top-five {
    position: absolute;
    top: 10%;
    right: 49%;
    border: 1px solid transparent;
}
.drop-zone__top-six {
    position: absolute;
    top: 10%;
    right: 42%;
    border: 1px solid transparent;
}
.drop-zone__top-seven {
    position: absolute;
    top: 10%;
    right: 35%;
    border: 1px solid transparent;
}
.drop-zone__top-eight {
    position: absolute;
    top: 14%;
    right: 58%;
    border: 1px solid transparent;
}
.drop-zone__top-nine {
    position: absolute;
    top: 14%;
    right: 51%;
    border: 1px solid transparent;
}
.drop-zone__top-ten {
    position: absolute;
    top: 14%;
    right: 44%;
    border: 1px solid transparent;
}
.drop-zone__top-eleven {
    position: absolute;
    top: 14%;
    right: 37%;
    border: 1px solid transparent;
}
.drop-zone__top-twelve {
    position: absolute;
    top: 14%;
    right: 30%;
    border: 1px solid transparent;
}
.drop-zone__middle-one {
    position: absolute;
    top: 18%;
    right: 62%;
    border: 1px solid transparent;
}
.drop-zone__middle-two {
    position: absolute;
    top: 18%;
    right: 55%;
    border: 1px solid transparent;
}
.drop-zone__middle-three {
    position: absolute;
    top: 18%;
    right: 48%;
    border: 1px solid transparent;
}
.drop-zone__middle-four {
    position: absolute;
    top: 18%;
    right: 41%;
    border: 1px solid transparent;
}
.drop-zone__middle-five {
    position: absolute;
    top: 18%;
    right: 34%;
    border: 1px solid transparent;
}
.drop-zone__middle-six {
    position: absolute;
    top: 18%;
    right: 27%;
    border: 1px solid transparent;
}
.drop-zone__middle-six {
    position: absolute;
    top: 22%;
    right: 32%;
    border: 1px solid transparent;
}
.drop-zone__middle-seven {
    position: absolute;
    top: 22%;
    right: 39%;
    border: 1px solid transparent;
}
.drop-zone__middle-eight {
    position: absolute;
    top: 22%;
    right: 46%;
    border: 1px solid transparent;
}
.drop-zone__middle-nine {
    position: absolute;
    top: 22%;
    right: 53%;
    border: 1px solid transparent;
}
.drop-zone__middle-ten {
    position: absolute;
    top: 22%;
    right: 60%;
    border: 1px solid transparent;
}
.drop-zone__down-one {
    position: absolute;
    top: 26%;
    right: 62%;
    border: 1px solid transparent;
}
.drop-zone__down-two {
    position: absolute;
    top: 26%;
    right: 55%;
    border: 1px solid transparent;
}
.drop-zone__down-three {
    position: absolute;
    top: 26%;
    right: 48%;
    border: 1px solid transparent;
}
.drop-zone__down-four {
    position: absolute;
    top: 26%;
    right: 41%;
    border: 1px solid transparent;
}
.drop-zone__down-five {
    position: absolute;
    top: 26%;
    right: 34%;
    border: 1px solid transparent;
}
.drop-zone__down-six {
    position: absolute;
    top: 26%;
    right: 27%;
    border: 1px solid transparent;
}
.drop-zone__down-seven {
    position: absolute;
    top: 30%;
    right: 25%;
    border: 1px solid transparent;
}
.drop-zone__down-eight {
    position: absolute;
    top: 30%;
    right: 32%;
    border: 1px solid transparent;
}
.drop-zone__down-nine {
    position: absolute;
    top: 30%;
    right: 39%;
    border: 1px solid transparent;
}
.drop-zone__down-ten {
    position: absolute;
    top: 30%;
    right: 46%;
    border: 1px solid transparent;
}
.drop-zone__down-eleven {
    position: absolute;
    top: 30%;
    right: 53%;
    border: 1px solid transparent;
}
.drop-zone__down-twelve {
    position: absolute;
    top: 30%;
    right: 60%;
    border: 1px solid transparent;
}
.drop-zone__down-therteen {
    position: absolute;
    top: 30%;
    right: 67%;
    border: 1px solid transparent;
}
.drop-zone__center-one {
    position: absolute;
    top: 34%;
    right: 70%;
    border: 1px solid transparent;
}
.drop-zone__center-two {
    position: absolute;
    top: 34%;
    right: 63%;
    border: 1px solid transparent;
}
.drop-zone__center-three {
    position: absolute;
    top: 34%;
    right: 56%;
    border: 1px solid transparent;
}
.drop-zone__center-four {
    position: absolute;
    top: 34%;
    right: 49%;
    border: 1px solid transparent;
}
.drop-zone__center-five {
    position: absolute;
    top: 34%;
    right: 42%;
    border: 1px solid transparent;
}
.drop-zone__center-six {
    position: absolute;
    top: 34%;
    right: 35%;
    border: 1px solid transparent;
}
.drop-zone__center-seven {
    position: absolute;
    top: 34%;
    right: 28%;
    border: 1px solid transparent;
}
.drop-zone__center-eight {
    position: absolute;
    top: 34%;
    right: 21%;
    border: 1px solid transparent;
}
.drop-zone__center-nine {
    position: absolute;
    top: 38%;
    right: 24%;
    border: 1px solid transparent;
}
.drop-zone__center-ten {
    position: absolute;
    top: 38%;
    right: 31%;
    border: 1px solid transparent;
}
.drop-zone__center-eleven {
    position: absolute;
    top: 38%;
    right: 38%;
    border: 1px solid transparent;
}
.drop-zone__center-twelve {
    position: absolute;
    top: 38%;
    right: 45%;
    border: 1px solid transparent;
}
.drop-zone__center-13 {
    position: absolute;
    top: 38%;
    right: 52%;
    border: 1px solid transparent;
}
.drop-zone__center-14 {
    position: absolute;
    top: 38%;
    right: 59%;
    border: 1px solid transparent;
}
.drop-zone__center-15 {
    position: absolute;
    top: 38%;
    right: 66%;
    border: 1px solid transparent;
}
.drop-zone__center-16 {
    position: absolute;
    top: 38%;
    right: 73%;
    border: 1px solid transparent;
}
.drop-zone__center-17 {
    position: absolute;
    top: 42%;
    right: 75%;
    border: 1px solid transparent;
}
.drop-zone__center-18 {
    position: absolute;
    top: 42%;
    right: 68%;
    border: 1px solid transparent;
}
.drop-zone__center-19 {
    position: absolute;
    top: 42%;
    right: 61%;
    border: 1px solid transparent;
}
.drop-zone__center-20 {
    position: absolute;
    top: 42%;
    right: 54%;
    border: 1px solid transparent;
}
.drop-zone__center-21 {
    position: absolute;
    top: 42%;
    right: 47%;
    border: 1px solid transparent;
}
.drop-zone__center-22 {
    position: absolute;
    top: 42%;
    right: 40%;
    border: 1px solid transparent;
}
.drop-zone__center-23 {
    position: absolute;
    top: 42%;
    right: 33%;
    border: 1px solid transparent;
}
.drop-zone__center-24 {
    position: absolute;
    top: 42%;
    right: 26%;
    border: 1px solid transparent;
}
.drop-zone__center-25 {
    position: absolute;
    top: 42%;
    right: 19%;
    border: 1px solid transparent;
}
.drop-zone__bottom-1 {
    position: absolute;
    top: 46%;
    right: 17%;
    border: 1px solid transparent;
}
.drop-zone__bottom-2 {
    position: absolute;
    top: 46%;
    right: 24%;
    border: 1px solid transparent;
}
.drop-zone__bottom-3 {
    position: absolute;
    top: 46%;
    right: 31%;
    border: 1px solid transparent;
}
.drop-zone__bottom-4 {
    position: absolute;
    top: 46%;
    right: 38%;
    border: 1px solid transparent;
}
.drop-zone__bottom-5 {
    position: absolute;
    top: 46%;
    right: 45%;
    border: 1px solid transparent;
}
.drop-zone__bottom-6 {
    position: absolute;
    top: 46%;
    right: 52%;
    border: 1px solid transparent;
}
.drop-zone__bottom-7 {
    position: absolute;
    top: 46%;
    right: 59%;
    border: 1px solid transparent;
}
.drop-zone__bottom-8 {
    position: absolute;
    top: 46%;
    right: 66%;
    border: 1px solid transparent;
}
.drop-zone__bottom-9 {
    position: absolute;
    top: 46%;
    right: 73%;
    border: 1px solid transparent;
}
.drop-zone__bottom-10 {
    position: absolute;
    top: 50%;
    right: 75%;
    border: 1px solid transparent;
}
.drop-zone__bottom-11 {
    position: absolute;
    top: 50%;
    right: 68%;
    border: 1px solid transparent;
}
.drop-zone__bottom-12 {
    position: absolute;
    top: 50%;
    right: 61%;
    border: 1px solid transparent;
}
.drop-zone__bottom-13 {
    position: absolute;
    top: 50%;
    right: 54%;
    border: 1px solid transparent;
}
.drop-zone__bottom-14 {
    position: absolute;
    top: 50%;
    right: 47%;
    border: 1px solid transparent;
}
.drop-zone__bottom-15 {
    position: absolute;
    top: 50%;
    right: 40%;
    border: 1px solid transparent;
}
.drop-zone__bottom-16 {
    position: absolute;
    top: 50%;
    right: 33%;
    border: 1px solid transparent;
}
.drop-zone__bottom-17 {
    position: absolute;
    top: 50%;
    right: 26%;
    border: 1px solid transparent;
}
.drop-zone__bottom-18 {
    position: absolute;
    top: 50%;
    right: 19%;
    border: 1px solid transparent;
}
.drop-zone__bottom-19 {
    position: absolute;
    top: 54%;
    right: 17%;
    border: 1px solid transparent;
}
.drop-zone__bottom-20 {
    position: absolute;
    top: 54%;
    right: 24%;
    border: 1px solid transparent;
}
.drop-zone__bottom-21 {
    position: absolute;
    top: 54%;
    right: 31%;
    border: 1px solid transparent;
}
.drop-zone__bottom-22 {
    position: absolute;
    top: 54%;
    right: 38%;
    border: 1px solid transparent;
}
.drop-zone__bottom-23 {
    position: absolute;
    top: 54%;
    right: 45%;
    border: 1px solid transparent;
}
.drop-zone__bottom-24 {
    position: absolute;
    top: 54%;
    right: 52%;
    border: 1px solid transparent;
}
.drop-zone__bottom-25 {
    position: absolute;
    top: 54%;
    right: 59%;
    border: 1px solid transparent;
}
.drop-zone__bottom-26 {
    position: absolute;
    top: 54%;
    right: 66%;
    border: 1px solid transparent;
}
.drop-zone__bottom-27 {
    position: absolute;
    top: 54%;
    right: 73%;
    border: 1px solid transparent;
}
.drop-zone__bottom-28 {
    position: absolute;
    top: 58%;
    right: 78%;
    border: 1px solid transparent;
}
.drop-zone__bottom-29 {
    position: absolute;
    top: 58%;
    right: 71%;
    border: 1px solid transparent;
}
.drop-zone__bottom-30 {
    position: absolute;
    top: 58%;
    right: 64%;
    border: 1px solid transparent;
}
.drop-zone__bottom-31 {
    position: absolute;
    top: 58%;
    right: 57%;
    border: 1px solid transparent;
}
.drop-zone__bottom-32 {
    position: absolute;
    top: 58%;
    right: 50%;
    border: 1px solid transparent;
}
.drop-zone__bottom-33 {
    position: absolute;
    top: 58%;
    right: 43%;
    border: 1px solid transparent;
}
.drop-zone__bottom-34 {
    position: absolute;
    top: 58%;
    right: 36%;
    border: 1px solid transparent;
}
.drop-zone__bottom-35 {
    position: absolute;
    top: 58%;
    right: 29%;
    border: 1px solid transparent;
}
.drop-zone__bottom-36 {
    position: absolute;
    top: 58%;
    right: 22%;
    border: 1px solid transparent;
}
.drop-zone__bottom-37 {
    position: absolute;
    top: 58%;
    right: 15%;
    border: 1px solid transparent;
}
.drop-zone__bottom-38 {
    position: absolute;
    top: 62%;
    right: 11%;
    border: 1px solid transparent;
}
.drop-zone__bottom-39 {
    position: absolute;
    top: 62%;
    right: 17%;
    border: 1px solid transparent;
}
.drop-zone__bottom-40 {
    position: absolute;
    top: 62%;
    right: 24%;
    border: 1px solid transparent;
}
.drop-zone__bottom-41 {
    position: absolute;
    top: 62%;
    right: 31%;
    border: 1px solid transparent;
}
.drop-zone__bottom-42 {
    position: absolute;
    top: 62%;
    right: 38%;
    border: 1px solid transparent;
}
.drop-zone__bottom-43 {
    position: absolute;
    top: 62%;
    right: 45%;
    border: 1px solid transparent;
}
.drop-zone__bottom-44 {
    position: absolute;
    top: 62%;
    right: 52%;
    border: 1px solid transparent;
}
.drop-zone__bottom-45 {
    position: absolute;
    top: 62%;
    right: 59%;
    border: 1px solid transparent;
}
.drop-zone__bottom-46 {
    position: absolute;
    top: 62%;
    right: 66%;
    border: 1px solid transparent;
}
.drop-zone__bottom-47 {
    position: absolute;
    top: 62%;
    right: 73%;
    border: 1px solid transparent;
}
.drop-zone__bottom-48 {
    position: absolute;
    top: 62%;
    right: 80%;
    border: 1px solid transparent;
}
.drop-zone__bottom-49 {
    position: absolute;
    top: 66%;
    right: 82%;
    border: 1px solid transparent;
}
.drop-zone__bottom-50 {
    position: absolute;
    top: 66%;
    right: 75%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-1 {
    position: absolute;
    top: 66%;
    right: 68%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-2 {
    position: absolute;
    top: 66%;
    right: 61%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-3 {
    position: absolute;
    top: 66%;
    right: 54%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-4 {
    position: absolute;
    top: 66%;
    right: 47%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-5 {
    position: absolute;
    top: 66%;
    right: 40%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-6 {
    position: absolute;
    top: 66%;
    right: 33%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-7 {
    position: absolute;
    top: 66%;
    right: 26%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-8 {
    position: absolute;
    top: 66%;
    right: 19%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-9 {
    position: absolute;
    top: 66%;
    right: 12%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-10 {
    position: absolute;
    top: 70%;
    right: 10%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-11 {
    position: absolute;
    top: 70%;
    right: 17%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-12 {
    position: absolute;
    top: 70%;
    right: 24%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-13 {
    position: absolute;
    top: 70%;
    right: 31%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-14 {
    position: absolute;
    top: 70%;
    right: 38%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-15 {
    position: absolute;
    top: 70%;
    right: 45%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-16 {
    position: absolute;
    top: 70%;
    right: 52%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-17 {
    position: absolute;
    top: 70%;
    right: 59%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-18 {
    position: absolute;
    top: 70%;
    right: 66%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-19 {
    position: absolute;
    top: 70%;
    right: 73%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-20 {
    position: absolute;
    top: 70%;
    right: 80%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-21 {
    position: absolute;
    top: 74%;
    right: 84%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-22 {
    position: absolute;
    top: 74%;
    right: 77%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-23 {
    position: absolute;
    top: 74%;
    right: 70%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-24 {
    position: absolute;
    top: 74%;
    right: 63%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-25 {
    position: absolute;
    top: 74%;
    right: 56%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-26 {
    position: absolute;
    top: 74%;
    right: 49%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-27 {
    position: absolute;
    top: 74%;
    right: 42%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-28 {
    position: absolute;
    top: 74%;
    right: 35%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-29 {
    position: absolute;
    top: 74%;
    right: 28%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-30 {
    position: absolute;
    top: 74%;
    right: 21%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-31 {
    position: absolute;
    top: 74%;
    right: 14%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-32 {
    position: absolute;
    top: 74%;
    right: 7%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-33 {
    position: absolute;
    top: 78%;
    right: 5%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-34 {
    position: absolute;
    top: 78%;
    right: 12%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-35 {
    position: absolute;
    top: 78%;
    right: 19%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-36 {
    position: absolute;
    top: 78%;
    right: 26%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-37 {
    position: absolute;
    top: 78%;
    right: 33%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-38 {
    position: absolute;
    top: 78%;
    right: 40%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-39 {
    position: absolute;
    top: 78%;
    right: 47%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-40 {
    position: absolute;
    top: 78%;
    right: 54%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-41 {
    position: absolute;
    top: 78%;
    right: 61%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-42 {
    position: absolute;
    top: 78%;
    right: 68%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-43 {
    position: absolute;
    top: 78%;
    right: 75%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-44 {
    position: absolute;
    top: 78%;
    right: 82%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-45 {
    position: absolute;
    top: 78%;
    right: 89%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-46 {
    position: absolute;
    top: 82%;
    right: 92%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-47 {
    position: absolute;
    top: 82%;
    right: 85%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-48 {
    position: absolute;
    top: 82%;
    right: 78%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-49 {
    position: absolute;
    top: 82%;
    right: 71%;
    border: 1px solid transparent;
}
.drop-zone__underbottom-50 {
    position: absolute;
    top: 82%;
    right: 64%;
    border: 1px solid transparent;
}
.drop-zone__underdown-1 {
    position: absolute;
    top: 82%;
    right: 57%;
    border: 1px solid transparent;
}
.drop-zone__underdown-2 {
    position: absolute;
    top: 82%;
    right: 50%;
    border: 1px solid transparent;
}
.drop-zone__underdown-3 {
    position: absolute;
    top: 82%;
    right: 43%;
    border: 1px solid transparent;
}
.drop-zone__underdown-4 {
    position: absolute;
    top: 82%;
    right: 36%;
    border: 1px solid transparent;
}
.drop-zone__underdown-5 {
    position: absolute;
    top: 82%;
    right: 29%;
    border: 1px solid transparent;
}
.drop-zone__underdown-6 {
    position: absolute;
    top: 82%;
    right: 22%;
    border: 1px solid transparent;
}
.drop-zone__underdown-7 {
    position: absolute;
    top: 82%;
    right: 15%;
    border: 1px solid transparent;
}
.drop-zone__underdown-8 {
    position: absolute;
    top: 82%;
    right: 8%;
    border: 1px solid transparent;
}
.drop-zone__underdown-9 {
    position: absolute;
    top: 86%;
    right: 8%;
    border: 1px solid transparent;
}
.drop-zone__underdown-10 {
    position: absolute;
    top: 86%;
    right: 15%;
    border: 1px solid transparent;
}
.drop-zone__underdown-11 {
    position: absolute;
    top: 86%;
    right: 22%;
    border: 1px solid transparent;
}
.drop-zone__underdown-12 {
    position: absolute;
    top: 86%;
    right: 29%;
    border: 1px solid transparent;
}
.drop-zone__underdown-13 {
    position: absolute;
    top: 86%;
    right: 36%;
    border: 1px solid transparent;
}
.drop-zone__underdown-14 {
    position: absolute;
    top: 86%;
    right: 43%;
    border: 1px solid transparent;
}
.drop-zone__underdown-15 {
    position: absolute;
    top: 86%;
    right: 50%;
    border: 1px solid transparent;
}
.drop-zone__underdown-16 {
    position: absolute;
    top: 86%;
    right: 57%;
    border: 1px solid transparent;
}
.drop-zone__underdown-17 {
    position: absolute;
    top: 86%;
    right: 64%;
    border: 1px solid transparent;
}
.drop-zone__underdown-18 {
    position: absolute;
    top: 86%;
    right: 71%;
    border: 1px solid transparent;
}
.drop-zone__underdown-19 {
    position: absolute;
    top: 86%;
    right: 78%;
    border: 1px solid transparent;
}
.drop-zone__underdown-20 {
    position: absolute;
    top: 86%;
    right: 85%;
    border: 1px solid transparent;
}
.drop-zone__underdown-21 {
    position: absolute;
    top: 90%;
    right: 80%;
    border: 1px solid transparent;
}
.drop-zone__underdown-22 {
    position: absolute;
    top: 90%;
    right: 73%;
    border: 1px solid transparent;
}
.drop-zone__underdown-23 {
    position: absolute;
    top: 90%;
    right: 66%;
    border: 1px solid transparent;
}
.drop-zone__underdown-24 {
    position: absolute;
    top: 90%;
    right: 59%;
    border: 1px solid transparent;
}
.drop-zone__underdown-25 {
    position: absolute;
    top: 90%;
    right: 52%;
    border: 1px solid transparent;
}
.drop-zone__underdown-26 {
    position: absolute;
    top: 90%;
    right: 45%;
    border: 1px solid transparent;
}
.drop-zone__underdown-27 {
    position: absolute;
    top: 90%;
    right: 38%;
    border: 1px solid transparent;
}
.drop-zone__underdown-28 {
    position: absolute;
    top: 90%;
    right: 31%;
    border: 1px solid transparent;
}
.drop-zone__underdown-29 {
    position: absolute;
    top: 90%;
    right: 24%;
    border: 1px solid transparent;
}
.drop-zone__underdown-30 {
    position: absolute;
    top: 90%;
    right: 17%;
    border: 1px solid transparent;
}
.svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.svg-form {
    position: absolute;
    top: 0;
    left: 0;
}
.none {
    display: none !important;
}
.flex {
    display: block;
}
.wrapper {
    position: relative;
    width: 100%;
}
.container-range {
    position: relative;
    width: 100%;
    height: 50px;
}
label:active {
    background-color: rgb(36, 197, 219);
}

input[type='range'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}
.slider-track {
    width: 100%;
    height: 5px;
    /* background-image: radial-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(179, 246, 255, 0.5) 0%); */
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}
input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
}
input[type='range']::-moz-range-track {
    -moz-appearance: none;
    height: 5px;
}
input[type='range']::-ms-track {
    appearance: none;
    height: 5px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background-color: #3264fe;
    cursor: pointer;
    border-radius: 10px;
    margin-top: -5px;
    pointer-events: auto;
}
input[type='range']::-moz-range-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background-color: #3264fe;
    cursor: pointer;
    border-radius: 10px;
    margin-top: -9px;
    pointer-events: auto;
}
input[type='range']::-ms-thumb {
    appearance: none;
    height: 16px;
    width: 16px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3264fe;
}
input[type='range']:active::-webkit-slider-thumb {
    background-color: #fff;
    border: 3px solid #3264fe;
}
.values {
    background-color: #fff;
    width: 32%;
    position: relative;
    margin: auto;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
}

.header {
    background-color: #121c1e;
}
.header-wrap {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav__bnt {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 27px;
    padding: 0;
}
.header-nav__bnt:active {
    background-color: rgb(36, 197, 219);
}
.header-nav__bnt:hover {
    color: rgb(36, 197, 219);
}
.header-search__panel-form {
    position: relative;
    width: 256px;
}
.header-search__panel-form::before {
    position: absolute;
    content: '';
    left: 0;
    top: 4px;
    width: 254px;
    height: 36px;
    background-image: url('assets/border-panel.svg');
    z-index: 0;
}
.header-search__panel-svg {
    position: absolute;
    top: 12px;
    right: 17px;
}
.header-search__panel-close {
    position: absolute;
    top: 12px;
    right: 43px;
    z-index: 12;
    cursor: pointer;
}
.header-search__panel-input {
    position: relative;
    z-index: 10;
    top: 3px;
    outline: none;
    background-color: transparent;
    background-image: radial-gradient(#24c5db 0%, rgba(36, 197, 219, 0.1) 0%);
    border: none;
    padding: 9px 60px 10px 14px;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    width: 253px;
}
.header-nav__list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    list-style: none;
}
.header-nav__item {
    margin-right: 30px;
}
.header-nav__item:last-child {
    margin-right: 0;
}
.header-search {
    display: flex;
    align-items: center;
}
.header-search__toy {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
}
.header-search__toy-top {
    position: absolute;
    top: -9px;
    left: 10px;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-bottom: none;
}
.header-search__toy-bottom {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #24c5db;
    border: 2px solid #fff;
}

.header-search__toy-input {
    position: absolute;
    width: 20px;
    left: 4px;
    top: 4px;
    color: #fff;
    text-align: center;
    border: none;
    background-color: transparent;
}
.start-page__wrap {
    position: relative;
    color: #fff;
}
.start-page__wrap {
    height: 980px;
}
.start-page__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.start-page__image--tree {
    height: 822px;
}
.start-page__absolute {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
}
.start-page__position {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
}
.start-page__border {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
.start-page__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 155px;
    position: relative;
    z-index: 2;
}
.start-page__center::before {
    position: absolute;
    content: '';
    background-image: url('assets/toy-big.svg');
    left: -42%;
    top: -67%;
    width: 420px;
    height: 768px;
}
.start-page__center::after {
    position: absolute;
    content: '';
    top: -50%;
    right: -18%;
    background-image: url('assets/toy-small.svg');
    width: 246px;
    height: 446px;
    z-index: -1;
}
.start-page__top {
    width: 593px;
    height: 249px;
    position: relative;
    background-image: radial-gradient(#24c5db 0%, rgba(36, 197, 219, 0.1) 0%);
    border-radius: 30px;
    margin-bottom: 113px;
}

.start-page__title {
    text-transform: uppercase;
    margin: 0;
    font-family: 'Neucha';
    font-weight: 400;
    font-size: 53px;
    line-height: 58px;
    text-align: center;
    max-width: 423px;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
}
.start-page__button {
    position: relative;
    width: 320px;
    background-image: radial-gradient(#24c5db 0%, rgba(36, 197, 219, 0.1) 0%);
    border-radius: 30px;
    cursor: pointer;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
}
.start-page__button:active {
    background-color: rgb(203, 183, 122);
}
.start-page__button:hover {
    background-color: rgb(36, 197, 219);
}
.toy-page {
    background-color: #192f2d;
}
.toy-page__wrap {
    padding-top: 50px;
    display: flex;
}
.toy-page__left {
    font-style: normal; 
    width: 446px;
    margin-right: 25px;
    padding-bottom: 24px;
}
.toy-page__right-title {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Neucha';
    font-weight: 400;
    font-style: normal;
    font-size: 42px;
    line-height: 46px;
    margin-top: 0;
}
.toy-page__right-sources {
    display: flex;
    flex-wrap: wrap;
}
.toy-page__right-item {
    position: relative;
    margin-right: 36px;
    margin-bottom: 36px;
    width: 218px;
    height: 342px;
    border-radius: 10px;
    padding: 20px 42px 21px 16px;
    background-image: radial-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(179, 246, 255, 0.5) 0%);
    cursor: pointer;
}
.toy-page__right-name {
    font-family: 'Neucha';
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    font-style: normal;
    color: #fff;
    margin: 0 0 10px 0;
    max-width: 160px;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
}
.toy-page__right-property {
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    line-height: 12px;
    color: #ffff;
    margin: 0 0 12px 0;
}
.toy-page__right-box {
    width: 100%;
    height: 116px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 16px;
}
.toy-page__right-img {
    width: 92px;
    height: 106px;
    object-fit: cover;
}
.toy-page__right-property:last-child {
    margin-bottom: 0;
}
.toy-page__right-span {
    position: absolute;
    width: 70px;
    height: 30px;
    bottom: 20px;
    right: 0;
    z-index: 2;
    border-bottom-left-radius: 10px;
}
.toy-page__right-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}
.toy-page__panel {
    font-family: 'Raleway';
    font-weight: 400;
    display: flex;
}
.toy-page__bnt {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 42px;
}
.toy-page__bnt:last-child {
    margin-right: 0;
}
.toy-page__sort {
    padding-top: 61px;
    display: flex;
    align-items: center;
}

.toy-page__sort-title {
    font-family: 'Neucha';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 43px 0;
}
.toy-page__sort-wrap {
    position: relative;
    top: -36px;
    margin-left: 24px;
}
.toy-page__sort-wrap::after {
    position: absolute;
    content: '';
    left: 0;
    background-image: url('assets/border-sort.svg');
    width: 178px;
    height: 30px;
}
.toy-page__sort-select {
    position: absolute;
    z-index: 5;
    background-color: transparent;
    background-image: radial-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(157, 243, 255, 0.2) 0%);
    border: none;
    padding: 9px 0 7px 5px;
    color: #fff;
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    border-radius: 30px;
    font-size: 12px;
    line-height: 14px;
    width: 178px;
    height: 30px;
}
.toy-page__sort-option {
    background-color: #192f2d;
    font-family: 'Raleway';
}
.toy-page__category-title {
    font-family: 'Neucha';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 16px 0;
}
.toy-page__category-wrap {
    display: flex;
    align-items: center;
}
.toy-page__category-box {
    display: flex;
}
.toy-page__category-checkbox {
    position: relative;
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    background-color: #24c5db;
}
.toy-page__category-checkbox {
    width: 24px;
    height: 24px;
}
.toy-page__category-span {
    color: #fff;
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    margin-left: 17px;
}
.toy-page__form-title {
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    margin: 42px 0px 24px 0px;
}
.toy-page__form-wrap {
    display: flex;
}
.toy-page__form-button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 33px;
    padding: 0;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 60px;
}
.toy-page__form-button:active {
    background-color: rgb(36, 197, 219);
    transition: 0.2s ease;
}

.toy-page__form-button:last-child {
    margin-right: 0;
}
.toy-page__form-button-name {
    text-align: center;
    color: #fff;
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
}
.toy-page__ranges {
    width: 100%;
}
.toy-page__ranges-top-title {
    color: #fff;
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 42px 0 16px 0;
}
.toy-page__ranges-top-range {
    width: 100%;
}
.toy-page__ranges-top-wrap {
    display: flex;
    justify-content: space-between;
}
.toy-page__ranges-top-span {
    color: #fff;
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
}
.toy-page__ranges-bottom-title {
    color: #fff;
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 24px 0 16px 0;
}
.toy-page__ranges-bottom-range {
    width: 100%;
}
.toy-page__ranges-bottom-wrap {
    display: flex;
    justify-content: space-between;
}
.toy-page__ranges-bottom-span {
    color: #fff;
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
}
.toy-page__color-title {
    color: #fff;
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 24px 0 16px 0;
}
.toy-page__color-wrap {
    display: flex;
}
.toy-page__color-box {
    display: flex;
    margin-right: 25px;
}
.toy-page__color-box:last-child {
    margin-right: 0px;
}
.toy-page__color-btn {
    position: relative;
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: transparent;
}
.toy-page__color-btn--white {
    background-color: #fff;
}
.toy-page__color-btn--yellow {
    background-color: #fdd700;
}
.toy-page__color-btn--red {
    background-color: #fd0000;
}
.toy-page__color-btn--blue {
    background-color: #2299eb;
}
.toy-page__color-btn--green {
    background-color: #08aa05;
}

.toy-page__size-wrap {
    display: flex;
}
.toy-page__size-title {
    color: #fff;
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 34px 0 17px 0;
}
.toy-page__size-span {
    color: #fff;
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
}
.toy-page__size-box {
    display: flex;
    padding-right: 24px;
}
.toy-page__size-box:last-child {
    padding-right: 0;
}
.toy-page__size-btn {
    position: relative;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    background-image: radial-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(157, 243, 255, 0.2) 0%);
    margin-right: 8px;
}
.toy-page__size-btn:after {
    position: absolute;
    left: 0;
    top: 0;
    content: ' ';
    background-image: url('assets/border-btn.svg');
    width: 20px;
    height: 20px;
}
.toy-page__favorit-btn {
    position: relative;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    background-image: radial-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(157, 243, 255, 0.2) 0%);
    margin-right: 13px;
}
.toy-page__favorit-btn:after {
    position: absolute;
    left: 0;
    top: 0;
    content: ' ';
    background-image: url('assets/border-btn.svg');
    width: 20px;
    height: 20px;
}
.toy-page__favorite {
    padding: 42px 0 22px 0;
    display: flex;
    align-items: center;
}
.toy-page__favorit-span {
    color: #fff;
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
}
.toy-page__buttons-btn {
    position: relative;
    background-color: transparent;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
    background-image: radial-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(157, 243, 255, 0.2) 0%);
    padding: 7px 33px;
    width: 178px;
}
.toy-page__buttons-btn:active {
    background-color: rgb(36, 197, 219);
}

.toy-page__buttons-btn:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    background-image: url('assets/border-btn-big.svg');
    width: 178px;
    height: 28px;
}
.tree-page {
    position: relative;
}
.tree-page__wrapper {
    position: absolute;
    z-index: 15;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(25, 47, 45, 0.7);
}
.tree-page__cont {
    display: flex;
    justify-content: space-between;
}
.tree-page__wrapper-right {
    padding-top: 50px;
    max-width: 346px;
}
.img {
    width: 100%;
    height: 100%;
}
.tree-page__background-start {
    object-fit: cover;
    width: 822px;
    height: 100%;
}
.tree-page__toys-title {
    font-family: 'Neucha';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 0;
    margin-bottom: 18px;
}
.tree-page__toys-collection {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.tree-page__toys-box {
    position: relative;
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-image: radial-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(179, 246, 255, 0.5) 0%);
    margin-right: 8px;
    margin-bottom: 8px;
}
.tree-page__toys-img {
    position: absolute;
    top: 10%;
    left: 16%;
    width: 50px;
    height: 60px;
    object-fit: cover;
}
.tree-page__toys-span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 22px;
    height: 19px;
    border-radius: 10px;
    background-color: #24c5db;
    text-align: center;
    color: #fff;
    font-family: 'Neucha';
    font-weight: 400;
    font-style: normal;
}
.tree-page__toys-box:nth-child(4) {
    margin-right: 0px;
}
.tree-page__toys-box:nth-child(8) {
    margin-right: 0px;
}
.tree-page__toys-box:nth-child(12) {
    margin-right: 0px;
}
.tree-page__toys-box:nth-child(16) {
    margin-right: 0px;
}
.tree-page__toys-box:nth-child(17) {
    margin-bottom: 0;
}
.tree-page__toys-box:nth-child(18) {
    margin-bottom: 0;
}
.tree-page__toys-box:nth-child(19) {
    margin-bottom: 0;
}
.tree-page__toys-box:nth-child(20) {
    margin-right: 0px;
    margin-bottom: 0;
}
.tree-page__wrapper-center {
    /* margin-left: 91px;
    margin-right: 100px; */
    position: relative;
    display: flex;
    max-width: 1000px;
    height: 822px;
}
.tree-page__background-tree {
    position: absolute;
    bottom: 0;
    left: 24%;
    z-index: 10;
}
.tree-page__wrapper-left {
    padding-top: 50px;
    max-width: 284px;
}
.tree-page__media {
    margin-bottom: 51px;
}
.tree-page__media-button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    width: 36px;
    height: 36px;
    padding: 0;
}
.tree-page__media-button:active {
    background-color: rgb(36, 197, 219);
}

.tree-page__media-music {
    background-image: url(assets/sound.svg);
}
.tree-page__media-snow {
    background-image: url(assets/snowflake.svg);
}
.tree-page__media-music {
    margin-right: 60px;
}
.tree-page__trees {
    margin-bottom: 36px;
}
.tree-page__trees-title {
    font-family: 'Neucha';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 0;
    margin-bottom: 24px;
}
.tree-page__trees-collection {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.tree-page__trees-box {
    position: relative;
    margin-right: 16px;
    position: relative;
    width: 134px;
    height: 134px;
    border-radius: 10px;
    background-image: radial-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(179, 246, 255, 0.5) 0%);
    cursor: pointer;
}
.tree-page__trees-img {
    position: absolute;
    top: 7%;
    left: 20%;
    width: 80px;
    height: 120px;
}
.tree-page__trees-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 15;
}
.tree-page__trees-box:first-child {
    margin-bottom: 16px;
}
.tree-page__trees-box:nth-child(2) {
    margin-bottom: 16px;
    margin-right: 0;
}
.tree-page__trees-box:last-child {
    margin-right: 0;
}

.tree-page__trees-box::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0px;
    background-image: url('assets/border-trees.svg');
    width: 134px;
    height: 134px;
    z-index: 15;
}
.tree-page__background {
    margin-bottom: 36px;
}
.tree-page__background-title {
    font-family: 'Neucha';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 0;
    margin-bottom: 24px;
}
.tree-page__background-collection {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.tree-page__background-box {
    cursor: pointer;
    width: 68px;
    height: 68px;
    border-radius: 10px;
    border: 1px solid #fff;
    margin-right: 4px;
    margin-bottom: 8px;
}
.tree-page__background-img {
    width: 66px;
    height: 66px;
    object-fit: cover;
    border-radius: 10px;
}
.tree-page__background-box:nth-child(4) {
    margin-right: 0;
}
.tree-page__background-box:nth-child(5) {
    margin-bottom: 0;
}
.tree-page__background-box:nth-child(6) {
    margin-bottom: 0;
}
.tree-page__background-box:nth-child(7) {
    margin-bottom: 0;
}
.tree-page__background-box:last-child {
    margin-right: 0;
    margin-bottom: 0;
}
.tree-page__garland-collection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.tree-page__garland-title {
    font-family: 'Neucha';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 0;
    margin-bottom: 18px;
}
.tree-page__garland-button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
}
.tree-page__garland-multicolor {
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8);
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, #ccc 0 2px 12px;
}
.tree-page__garland-red {
    background-color: #f00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, #f00 0 2px 12px;
}
.tree-page__garland-blue {
    background-color: #24e0ff;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3f8cff 0 2px 14px;
}
.tree-page__garland-yellow {
    background-color: #ff0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #ff0 0 2px 12px;
}
.tree-page__garland-green {
    background-color: #abff00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89ff00 0 2px 12px;
}
.tree-page__garland-off {
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 13px;
    font-family: 'Raleway';
    font-weight: 400;
    background-image: radial-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(157, 243, 255, 0.2) 0%);
}
.tree-page__garland-off:active {
    background-color: rgb(36, 197, 219);
}
.tree-page__save {
    position: absolute;
    left: 10px;
    bottom: 15px;
    z-index: 50;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
    margin-top: 80px;
    padding: 15px 45px;
    border: none;
    color: #fff;
    font-size: 20px;
    font-family: 'Raleway';
    font-weight: 400;
    background-image: radial-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(157, 243, 255, 0.2) 0%);
}
.tree-page__pannel-toys {
    position: absolute;
    top: 0;
    right: 15px;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
    margin-top: 80px;
    padding: 15px 45px;
    border: none;
    color: #fff;
    font-size: 20px;
    font-family: 'Raleway';
    font-weight: 400;
    background-image: radial-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(157, 243, 255, 0.9) 0%);
    display: none;
}
.tree-page__pannel-options {
    position: absolute;
    top: 0;
    left: 15px;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
    margin-top: 80px;
    padding: 15px 45px;
    border: none;
    color: #fff;
    font-size: 20px;
    font-family: 'Raleway';
    font-weight: 400;
    background-image: radial-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(157, 243, 255, 0.9) 0%);
    display: none;
}
.tree-page__save:active {
    background-color: rgb(36, 197, 219);
}
.container {
    max-width: 1792px;
    padding: 0 20px;
    margin: 0 auto;
}
.footer {
    background-color: #192f2d;
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
}
.footer-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 13px;
    color: #fff;
}
.footer-wrap__link {
    text-decoration: none;
    color: #fff;
    margin-right: 5px;
}
.snowflake {
    position: absolute;
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%;
    }
    100% {
        top: 100%;
    }
}
@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}
@keyframes snowflakes-fall {
    0% {
        top: -10%;
    }
    100% {
        top: 100%;
    }
}
@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(80px);
    }
    100% {
        transform: translateX(0px);
    }
}
.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, 0.5s;
    animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s;
}
.garland-multicolor {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    bottom: 7%;
    left: 28%;
    height: 500px;
}
.garland-yellow {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    bottom: 7%;
    left: 28%;
    height: 500px;
}
.garland-red {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    bottom: 7%;
    left: 28%;
    height: 500px;
}
.garland-blue {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    bottom: 7%;
    left: 28%;
    height: 500px;
}
.garland-green {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    bottom: 7%;
    left: 28%;
    height: 500px;
}
.garland-one {
    z-index: 20;
    bottom: 60px;
    --red: #ff2c2c;
    --yellow: #ffeb00;
    --green: #00ff5d;
    --blue: #0095ff;
    --speed: 1.5s;
}

.garland-two {
    z-index: 20;
    bottom: 20%;
    --red: #ff2c2c;
    --yellow: #ffeb00;
    --green: #00ff5d;
    --blue: #0095ff;
    --speed: 1.5s;
}
.garland-three {
    z-index: 20;
    bottom: 34%;
    --red: #ff2c2c;
    --yellow: #ffeb00;
    --green: #00ff5d;
    --blue: #0095ff;
    --speed: 1.5s;
}
.garland-three--one {
    z-index: 20;
    bottom: 48%;
    --red: #ff2c2c;
    --yellow: #ffeb00;
    --green: #00ff5d;
    --blue: #0095ff;
    --speed: 1.5s;
}
.garland-four {
    z-index: 20;
    bottom: 63%;
    --red: #ff2c2c;
    --yellow: #ffeb00;
    --green: #00ff5d;
    --blue: #0095ff;
    --speed: 1.5s;
}
.red {
    fill: var(--red);
    animation: var(--speed) alternate 0s infinite blinkRed;
}
.red-one {
    fill: var(--red);
    animation: var(--speed) alternate 0s infinite blinkRedOne;
}
.yellow {
    fill: var(--yellow);
    animation: var(--speed) alternate 0s infinite blinkYellow;
}
.yellow-one {
    position: relative;
    fill: var(--yellow);
    animation: var(--speed) alternate 0s infinite blinkYellowOne;
}

.green {
    fill: var(--green);
    animation: var(--speed) alternate 0s infinite blinkGreen;
}
.green-one {
    fill: var(--green);
    animation: var(--speed) alternate 0s infinite blinkGreenOne;
}
.blue {
    fill: var(--blue);
    animation: var(--speed) alternate 0s infinite blinkBlue;
}
.blue-one {
    fill: var(--blue);
    animation: var(--speed) alternate 0s infinite blinkBlueOne;
}
@keyframes blinkBlue {
    0% {
        fill: var(--blue);
    }
    25% {
        fill: var(--red);
    }
    50% {
        fill: var(--green);
    }
    75% {
        fill: var(--yellow);
    }
}
@keyframes blinkGreen {
    0% {
        fill: var(--green);
    }
    25% {
        fill: var(--yellow);
    }
    50% {
        fill: var(--blue);
    }
    75% {
        fill: var(--red);
    }
}
@keyframes blinkYellow {
    0% {
        fill: var(--yellow);
    }
    25% {
        fill: var(--green);
    }
    50% {
        fill: var(--red);
    }
    75% {
        fill: var(--green);
    }
}
@keyframes blinkYellowOne {
    0% {
        opacity: 1;
        fill: var(--yellow);
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
        fill: var(--yellow);
    }
    75% {
        opacity: 0.5;
    }
}
@keyframes blinkRed {
    0% {
        fill: var(--red);
    }
    25% {
        fill: var(--blue);
    }
    50% {
        fill: var(--yellow);
    }
    75% {
        fill: var(--blue);
    }
}
@keyframes blinkRedOne {
    0% {
        opacity: 1;
        fill: var(--red);
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
        fill: var(--red);
    }
    75% {
        opacity: 0.5;
    }
}
@keyframes blinkBlueOne {
    0% {
        opacity: 1;
        fill: var(--blue);
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
        fill: var(--blue);
    }
    75% {
        opacity: 0.5;
    }
}
@keyframes blinkGreenOne {
    0% {
        opacity: 1;
        fill: var(--green);
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
        fill: var(--green);
    }
    75% {
        opacity: 0.5;
    }
}
.tree-page__left-close {
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
}
.tree-page__wrapper-close {
    position: absolute;
    top: 5px;
    right: 27px;
    cursor: pointer;
}
@media (max-width: 1600px) {
    .tree-page__cont {
        flex-direction: column;
        align-items: center;
    }
    .tree-page__wrapper-left {
        position: absolute;
        left: 0;
        z-index: 25;
        background-color: rgba(25, 47, 45, 1);
        max-width: 350px;
        padding: 28px;
        display: none;
        z-index: 99;
    }
    .tree-page__wrapper-right {
        position: absolute;
        top: -73px;
        right: 0;
        background-color: rgba(25, 47, 45, 1);
        padding: 15px;
        max-width: 100%;
        display: none;
    }
    .tree-page__pannel-options {
        top: -70px;
        display: initial;
    }
    .tree-page__pannel-toys {
        top: -70px;
        display: initial;
    }
    .tree-page__left-close {
        display: initial !important;
    }
    .tree-page__wrapper-close {
        display: initial !important;
    }
    .tree-page__toys-title {
        margin-bottom: 10px;
    }
    .tree-page__wrapper-right {
        padding: 5px;
    }
    .tree-page__toys-box:nth-child(4) {
        margin-right: 8px;
    }
    .tree-page__toys-box:nth-child(8) {
        margin-right: 8px;
    }
    .tree-page__toys-box:nth-child(16) {
        margin-right: 8px;
    }
}
@media (max-width: 1000px) {
    .tree-page__background-start {
        width: 737px;
    }
    .tree-page__wrapper-center {
        margin: 0;
    }
}
